* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #161616;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
}
#submit {
    margin-top: 10px;
    width: 200px;
    background-color: #D9D64C;
    padding: 15px;
    border-radius: 4px;
}
#lista {
    width: 150px;
    margin: auto;
    display: none;
}
::marker {
    color: #D641D9;
}
h2 {
    margin-top: 1em;
    color: #D9D64C ;
}